*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  /* min-width: 100vw; */
  box-sizing: border-box;
  font-family: 'Londrina Solid', cursive;
  font-weight: 300;
  background-color: #000022;
  color: white;

}

h2{
  font-family: 'Audiowide', cursive;
  font-size: 48px;
  margin-bottom: 16px;
  color: #70aae7;
}

h3{
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 8px;
}

.home-page{
  height: 100vh;
}

header{
  height: 80px;
  background-color: white;
  color: #000022;
  font-size: 20px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
}
.logo{
  color: #000022;
  font-size: 36px;
  margin-left: 24px;
}

/* .nav-bar{
} */

.menu{
  list-style: none;
  display: flex;
  margin-right: 24px;
}

.menu-item{
  margin-left: 24px ;
  display: inline-block;
}

.menu-links:link{
  text-decoration: none;
  color: #000022;
}

.menu-links:visited{
  text-decoration: none;
  color: #000022;
}

.menu-links:hover{
  display: inline-block;
  /* color: #625F63; */
  transform: scale(1.05);
}

.menu-links:active{
  color: #625F63;
}

.profile-section{
  position: relative;
  height: calc(100vh - 80px);
  background: linear-gradient(-60deg, #000022 25%, #2D608B);
  display: flex;
  justify-content: center;
  /* padding: 36px; */
  align-items: center;
}

.profile-content{
  width: 800px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 20px;

}

.profile-picture{
  width: 230px;
  /* border-radius: 50% 50% 50% 50%; */
}

.profile-presentation{
  font-weight: 100;
  font-size: 40px;
}

#dev{
  font-weight: 300;
}

.mb1{
  margin-bottom: 12px;
}

.about-section{
  background-color: #D6FFF3;
}

.about-section h2 {
  text-align: center;
  color: #2D608B;
  
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  height: 100%;
  margin: auto;
  padding: 20px;
}

.about-container p{
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 400;
  color: #000022;
}

.motto-div{
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  font-size: 24px;
  font-weight: 300;
}
.motto{
  color: #2D608B;
}

.skills-section{
  background: linear-gradient(#2D608B, #70aae7);
}

.skills-section h2{
  color: black;
  text-align: center;
}

.skills-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 700px; */
  height: 75vh;
  margin: auto;
  padding: 20px;
}

.skills-icons{ /*skills-icons*/
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 80px;
  padding: 20px;
}

.skills-icon-box{
  position: relative;
  width: 72px;
}

.icon-1{
  width: 72px;
  height: 72px;
  transition: 0.5s;
}

.icon-2{
  width: 72px;
  height: 72px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.skills-icon-box:hover .icon-2{
  visibility: visible;
  opacity: 1;
  transform: scale(1.1);
  transition: 0.5s;
}

.skills-icon-box:hover #nodejs{
  visibility: visible;
  opacity: 1;
  transform: scale(1.175);
  transition: 0.5s;
}

.skills-icon-box:hover .icon-1{
  visibility: hidden;
  opacity: 0;
  transform: scale(1.1);
}

.skills-names{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
  color: black;
  transition: 0.5s;
}

.skills-icon-box:hover .skills-names{
  /* transform: scale(1.1);
  transition: 0.3s; */
  color: white;
}

.projects-section{
  background-color: #D6FFF3;

}

.projects-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: auto;
  height: 100%;
  padding: 20px;
}

.projects-container h2{
  text-align: center;
  color: #2D608B;
}

.projects-content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}

.project-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 232px;
  height: 340px;
  /* background-color: rgba(255, 255, 255, 0.824); */
  border-radius: 12px;
  border: 1px solid #2D608B;
}

.project-circle{
  position: relative;
  background-color: #2D608B;
  width: 220px;
  height: 220px;
  text-align: center;
  border-radius: 50%;
  margin-top: 12px;
}

.project-box{
  text-align: center;
}

.project-box p{
  color: #000022;
  text-align: center;
  font-size: 24px;
}

.loading-image{
  width: 180px;
  margin-top: 20px;
}

.contact-section{
  /* height: 100vh; */
}

.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto;
  height: 100%;
  padding: 20px;
}

.contact-container h2{
  text-align: center;
}

.contact-container p{
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

.form-container{
  /* background-color: white; */
  width: 400px;
  padding: 24px;
  /* margin: auto; */ /*Esse margin: auto estava impedindo o align-items do .contact-container */
}

input{
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  font-family: 'Londrina Solid';
  font-size: 16px;
}

input[type="text"]{
  font-weight: 300;
}

input[type="email"]{
  font-weight: 300;
}

input[type="submit"]{
  background-color: #2D608B;
  color: white;
  font-size: 20px;
  font-weight: 300;
}


.social-medias{
  display: flex;
  justify-content: space-between;
  width: 200px;
  /* padding: 16px; */
}

.social-media-box{
  position: relative;
}
.social-media{
  width: 72px;
}

#linkedin-2{
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

#github-2{
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.social-media-box:hover #linkedin-2{
  visibility: visible;
  opacity: 1;
  transform: scale(1.1);
}

.social-media-box:hover #github-2{
  visibility: visible;
  opacity: 1;
  transform: scale(1.1);
}

  @media screen and (max-width: 850px) {
    header{
      display: none;
    }

    .profile-section{
      min-height: 100vh;
    }

    .profile-content{
      flex-direction: column;
    }

    .profile-picture{
      width: 210px;
    }

    .profile-presentation{
      text-align: center;
    }

    .skills-icons{
      flex-wrap: wrap;
    }

  }

  @media screen and (max-width: 545px) {
    html{
      overflow-x: hidden;
    }
    body{
      overflow-x: hidden;
    }

    .profile-picture{
      width: 180px;
    }

    .profile-presentation{
      font-size: 32px;
    }

    /* .profile-section{
      height: 100%;
    } */

    /* .profile-content{
      height: 100%;
    } */

    
    .about-container{
      min-height: 100%;
    }

    .about-container p{
      text-align: justify;
    }

    .skills-container{
      height: 100%;
    }

    .projects-container{
      height: 100%;
    }

    @media screen and (max-width: 360px){
      body{
        overflow-x: hidden;
      }

      .profile-content{
        gap: 10px;
      }

      .profile-picture{
        /* width: 160px; */
      }

      .profile-presentation{
        font-size: 28px;
      }

      .form-container{
        justify-content: center;
      }

      .form-container input{
        width: 90%;
        margin: auto;
        margin-bottom: 12px;
      }
    }
  }
